*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: black;
    background: url(https://test2.dfprofiler.com/images/background.jpg) center center / cover no-repeat fixed;
    color: white;
}

body {
    height: 100vh;
    padding: 20px;
}

.content {
    display: grid;
    grid-template-rows: 60px 1fr 1fr;
    row-gap: 20px;
    height: 100%;
}

.contentHeader {
    grid-row-start: 1;
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    column-gap: 5px;
    justify-items: stretch;
    align-items: stretch;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgb(30, 30, 30);
}

.contentUpper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    max-height: 100%;
    overflow: hidden;
}

.contentUpperCol {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgb(30, 30, 30);
    max-height: 100%;
    overflow: hidden;
}

.contentLower {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 20px;
    max-height: 100%;
    overflow: hidden;
}

.contentLowerCol {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgb(30, 30, 30);
    max-height: 100%;
    overflow: hidden;
}

.contentScroll {
    overflow: auto;
}

.gridContent {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    margin: 10px;
}

.gridContentMax {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    margin: 10px;
    width: 100%;
}

.gridContentNoMargin {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
}

.gridContentNoMarginMin {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
}

h1, h2, h3, h4 {
    margin: auto;
}

.gridStart {
    justify-self: start;
}

.gridCenter {
    justify-self: center;
}

.gridEnd {
    grid-column-start: 4;
    justify-self: end;
}

.gridContentEnd {
    justify-self: end;
}

.collapsible {
    background-color: rgb(16, 16, 16);
    color: white;
    cursor: pointer;
    padding: 5px;
    margin: 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-weight: bold;
}

.active, .collapsible:hover {
    background-color: rgb(24, 24, 24);
}

.collapsible::after {
    content: '\02795';
    float: right;
    font-size: 10px;
}

.active::after {
    content: '\2796';
}

.collapseContent {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgb(20, 20, 20);
    border-top: 2px solid rgb(30, 30, 30);
}

.collapseContentInline {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgb(20, 20, 20);
    border-top: 2px solid rgb(30, 30, 30);
}

p {
    margin: 0;
}

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(200, 0, 0, 0.4);
    border-radius: 9px;
    border: 5px transparent solid;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(200, 0, 0, 0.5);
    border-radius: 9px;
    border: 5px transparent solid;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background: rgba(50, 50, 50, 0.5);
    border-radius:9px;
    border: 5px transparent solid;
    background-clip: padding-box;
}

input {
    background-color: rgb(20, 20, 20);
    color: white;
    border: 2px solid rgb(30, 30, 30);
}

input[type=number] {
    outline: none;
}

input[type=number]:focus {
    border: 2px solid rgb(50, 50, 50);
}

select {
    background-color: rgb(20, 20, 20);
    color: white;
    border: 2px solid rgb(30, 30, 30);
    outline: none;
}

select:focus {
    border: 2px solid rgb(50, 50, 50);
}

select:disabled {
    color: red;
}